*{margin:0;padding:0;border:0;}
li{list-style: none}
a{text-decoration:none;color:#fff}
i{font-style: normal}
html,body{font-size:12px;background:#F3F7F8;height:100%}
/*----------------------------------------------*/
#header{display:flex;font-size:1.17rem;background:#fff}
#header .header-name{flex: 1;}
#status{margin-right:2rem;font-size:1rem;}
#user{margin-right:2rem;font-size:1rem;}
.content{display:flex;font-size:1.17rem;}
.aside{background:lightgray;width:200px;height:650px;}
.aside .aside-title{display:flex;justify-content:center;align-items:center;padding:5px;color:#fff;
    cursor: pointer;
    -webkit-transition:all .8s ;
    -moz-transition: all .8s ;
    -ms-transition: all .8s ;
    -o-transition: all .8s ;
    transition:all .8s ;
}
.aside .aside-title i{display:block;border-width: 5px;}
.aside .index-cir-active{border-color:transparent transparent transparent #fff;border-style: dashed dashed dashed solid;}
.aside .index-cir{border-color:#fff transparent transparent transparent;border-style: solid dashed dashed dashed;margin-right: 10px;}
.aside-title span{flex:1;}
.aside .aside-select{}
.aside .aside-select li{padding:10px;background:#78909c;margin-bottom: 2px;display:flex;}
.aside .aside-select li a{flex:1;}
.content .content-left{flex:1;padding: 20px;}
.content-left .content-left-title{padding-bottom:10px;}
.content-left #date{margin-left:10px;}
.content-left .content-left-data{line-height:1.5}
.content-left .content-left-data .t-header{display:flex;background:#c1c1c1;padding:10px 0;cursor:pointer;}
.content-left .content-left-data li:not(:first-child){background:#fff;}
.content-left .content-left-data .t-header span{flex:1;text-align: center}
/*弹出窗口-----------------------------------------------------------------*/
.window{
    width:600px;height: 366px;
    background-color:#F3F7F8;
    position:absolute;box-sizing: border-box;
    padding:2px;
    margin:5px;
    display:none;
}
.window_content{
    background-color:#FFF;
    font-size:14px;
}
.title{
    padding:10px;border-bottom:0.08rem solid #c1c1c1;
    color:#333;
    font-size:1rem;
    position: relative;
    background:#fff;
}
.title span{position:absolute;top:-1rem;left:-1rem;width:2rem;height:2rem;background:#fff;border:0.07rem solid #c1c1c1;border-radius:50%;display:flex;justify-content: center;align-items:center;
    cursor: pointer;font-weight: 900;color:#999;}
.lianxiren{padding:10px;background:aliceblue;display:flex;}
.lianxiren #li_sta{background-color:aliceblue}
.lianxiren span{flex:1;text-align: right;}
.window_chat{overflow:auto;height:186px;padding:10px;}
.window-chat-time{text-align: center;}
.window-chat-txt{
    position:relative;display:flex;margin-top:1rem;
}
.window-chat-txt img{display:block;width:50px;height:50px;border-radius: 50%;}
.window-chat-txt div{display: flex;flex:1;justify-content: center;align-items: center;border-radius: 1rem;position: relative;background:#c1c1c1;padding:5px;}
.window-chat-txt .window-chat-txt-right{margin-right: 20px;}
.window-chat-txt .window-chat-txt-left{margin-left: 20px;}
.window-chat-txt-right:after{
    content:'';position: absolute;top:1.3rem;right:-1.3rem;
    border-width: 8px;border-style:dashed dashed dashed solid;border-color: transparent transparent transparent #c1c1c1;
}
.window-chat-txt-left:before{
    content:'';position: absolute;top:1.3rem;left:-1.3rem;
    border-width: 8px;border-style:dashed solid dashed dashed;border-color: transparent #c1c1c1 transparent transparent;
}
.window-chat-input{background: #fff;
    height: 80px;border-top: 1px solid #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window-chat-input input{
    border: 1px solid #c1c1c1;
    height: 36px;
    width: 80%;
    margin-right: 20px;
    border-radius: 18px;
}
.window-chat-input button{
    background: #fff;
    color: cornflowerblue;
    cursor: pointer;
}
.window-chat-input-close{background: #ccc;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;}
.window_left{float: left;width:66%;height:100%;}
.window_right{float: left;width: 34%;height:100%;}
.window_right_title{padding:10px;border-bottom:0.08rem solid #c1c1c1;
    color:#333;display:flex;border-left:0.08rem solid #c1c1c1;
    font-size:1rem;
    position: relative;
    background:#fff;}
.window_right_title span{flex:1;cursor: pointer}
.window_right_title .window_right_select{color:lightskyblue}
.window_right_info{border-left:0.08rem solid #c1c1c1;height: 326px;background: #fff}
.window_right_msg{padding-top: 10px;padding-left:40px;position:relative;line-height:2;}
.window_right_icon{position: absolute;width:15px;height:15px;background-color:red;top:10px;left:20px;}
/**/
.window_right_msg1{padding: 10px;
    position: relative;
    line-height: 2;}
.window_right_btn{display: flex;justify-content: center;align-items: center;border:1px solid #c1c1c1;
    cursor: pointer;}
.window_right_btn span{font-size: 2rem;position: relative;top:-2px;}
.window_right_price{height: 48px;display: flex;justify-content: space-around;align-items: center}
.window_right_price button{background-color:lightskyblue;padding:2px;color:#fff;cursor: pointer}