<div id="header">
    <span class="header-name">医疗后台</span>
    <select id="status" ng-if="data.flag">
        <option>在线</option>
        <option selected>空闲</option>
        <option>忙碌</option>
        <option>离线</option>
    </select>
    <span>咨询师：</span>
    <select id="user">
        <option>json</option>
        <option selected>admin</option>
        <option>html</option>
        <option>java</option>
    </select>
</div>
<div class="content">
    <div class="aside">
        <div class="aside-title">
            <span>会话</span>
            <i class="index-cir"></i>
        </div>
        <ul class="aside-select">
            <li><a href="#/today">当前会话</a></li>
            <li><a href="#/late">历史会话</a></li>
        </ul>
    </div>
    <div class="content-left">
        <div class="content-left-title"><span>{{data.aside}}</span>
            <select id="date">
                <option ng-repeat="x in data.aside_date"
                       ng-selected={{x.flag}} >{{x.time}}</option>
            </select>
        </div>
        <ul class="content-left-data">
            <li class="t-header">
                <span ng-repeat="x in data.title_data">{{x.text}}</span>
            </li>
            <li class="t-header" ng-repeat="items in data.text_data" ng-click="popCenterWindow()">
                <span ng-repeat="value in items.list">{{value}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="window" id="center">
    <div class="window_left">
        <div id="title" class="title">医美 <span>x</span></div>
        <div class="window_content">
            <div class="lianxiren">
                <select id="li_sta">
                    <option>已解决</option>
                    <option selected>有效对话</option>
                </select>
                <span>转接至：李敏</span>
            </div>
            <div class="window_chat">
                <div class="window-chat-time">
                    <div>01-09 15:03 用户进入</div>
                    <div>由心理美容01接待</div>
                </div>
                <div class="window-chat-txt">
                    <img ng-src="img/WechatIMG8.png" alt="正在加载"/>
                    <div class="window-chat-txt-left">
                        您好我是您的专属咨询师，您好我是您的专属咨询师,
                        您好我是您的专属咨询师，您好我是您的专属咨询师
                    </div>
                </div>
                <div class="window-chat-txt">
                    <div class="window-chat-txt-right">
                        您好我是您的专属咨询师，您好我是您的专属咨询师
                    </div>
                    <img ng-src="img/WechatIMG8.png" alt="正在加载"/>
                </div>
                <div class="window-chat-txt">
                    <div class="window-chat-txt-right">
                        您好我是您的专属咨询师，您好我是您的专属咨询师
                    </div>
                    <img ng-src="img/WechatIMG8.png" alt="正在加载"/>
                </div>
            </div>
            <div class="window-chat-input">
                <input type="text" id="info_text"/>
                <button ng-click="sendPrivateText()">发送</button>
            </div>
            <div class="window-chat-input-close" ng-if="false">已结束会话</div>
        </div>
    </div>
    <div class="window_right">
        <div class="window_right_title">
            <span class="window_right_select" ng-click="">用户信息</span>
            <span>制定方案</span>
        </div>
        <div class="window_right_info" ng-if="isShow">
            <div class="window_right_msg">
                <div><i class="window_right_icon"></i>个人信息</div>
                <div>姓名：1498</div>
                <div>手机号：13634982345</div>
                <div>IP地址：北京</div>
                <div>来源页面：李敏页面详情</div>
            </div>
            <div class="window_right_msg">
                <div><i class="window_right_icon"></i>历史记录</div>
                <div ng-if="true" style="color:#999;margin-top: 50px;">暂无数据记录</div>
            </div>
        </div>
        <div class="window_right_info" ng-if="!isShow">
            <div class="window_right_msg1">
                <div>名称：润白眼玻尿酸1M</div>
                <div>手机号：13634982345</div>
                <div>治疗时长：10分钟</div>
                <div>技术理念：李敏页面详情</div>
                <div>治疗效果：李敏页面详情</div>
                <div>项目优势：李敏页面详情</div>
                <div>价格：李敏页面详情</div>
            </div>
            <div class="window_right_msg1">
                <div class="window_right_btn">
                    <span>+</span>添加方案
                </div>
            </div>
            <div class="window_right_msg1">
                <div class="window_right_price">
                    <span>总价：￥148.00</span>
                    <button>确认方案</button>
                </div>
            </div>
        </div>
    </div>
</div>